<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arvo|Lato|Open+Sans|Raleway|Goudy+Bookletter" rel="stylesheet">
    <script src="static/js/jquery-1.11.2.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
    	<link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> 
 
         <link rel = "stylesheet" type="text/css" href="static/css/style.css"/>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> 


    <title>நேர்மை: Report Officials</title>
  </head>
  <body>
<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modaltitle">Official</h4>
            </div>
            <div class="modal-body">
                        <label>Name:</label>
                        <h2> {{officialname[0][0]}} </h2>
                       <br>
                                 <label>Department:</label>
                        <h2> {{officialdepartment[0][0]}} </h2><br>
                        <label>County:</label>
                        <h2> {{officialcounty[0][0]}} </h2><br>
                        <label>Rating:</label>
                        <h2> {{officialrating[0][0]}} </h2><br> 
                        <label>Comments:</label>
                        <h2> {{officialmessage[0][0]}} </h2>
         
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>


  </body>
</html>  